body {
  background-image: url(./img/weather.jpg);
  height: 100vh;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.day-container {
  width: 19%;
  /*background-color: yellow;*/
}

.day-description {
  position: relative;
  bottom: 10%;
}

.format-grid {
  width: 50%;
  color: white;
  font-weight: 800;
  font-size: 15px;
}
#description-container {
  margin-left: 0px;
  display: flex;
  justify-content: center;
  border-bottom: 5px solid rgba(0, 30, 230, 0.8);
  margin: 5% 4%;
  padding-bottom: 30px;
}
#gif-container {
  width: 33.3%;
  height: 100%;
}
#grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  bottom: 10%;
}
.inner-descriptionContainer {
  width: 100%;
  display: flex;
  color: white;
  font-weight: bolder;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  padding: 7px 0px;
}

#data-container {
  display: flow-root;
  height: 450px;
  margin: 2% 20%;
  background-color: rgba(0, 30, 230, 0.3);
}

#location-text {
  color: white;
  font-size: 18px;
  font-weight: bolder;
}

#inside-gif-container {
  display: flex;
  justify-content: center;
}
#navcontent {
  height: 52px;
  background-color: rgba(0, 30, 230, 0.3);
  margin: 10px 20%;
  display: flex;
  align-items: center;
}
.imageday-container {
  display: flex;
  justify-content: center;
}

.image-day {
  width: 150px;
}
#navcontent {
  justify-content: center;
}
#number-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.number-grid {
  width: 50%;
  color: white;
  font-weight: 800;
  font-size: 18px;
  text-align: right;
}

#search-box {
  width: 70%;
  height: 20px;
}

#temp-format {
  font-size: 20px;
  display: flex;
  align-self: end;
  padding: 5px;
  font-weight: bold;
}

#temp-container {
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#text-description {
  width: 33.3%;
}

.text-temp {
  color: white;
  font-size: 38px;
}

.titleday {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 800;
  font-size: 18px;
  position: relative;
  top: 10%;
}

#weather-type {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  position: relative;
  bottom: 30px;
}

@media screen and (min-width: 510px) and (max-width: 900px) {
  body {
    height: 600px;
  }
  .day-container {
    width: 17%;
  }
  #data-container {
    margin: 2% 5%;
  }
  #location-text {
    font-size: 12px;
  }

  .inner-descriptionContainer {
    font-size: 12px;
  }
  #navcontent {
    margin: 2% 5%;
  }
  #weather-type {
    font-size: 14px;
  }
}

@media screen and (min-width: 0px) and (max-width: 509px) {
  body {
    height: 700px;
  }
  #data-container {
    margin: 2% 5%;
  }

  #description-container {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }

  #navcontent {
    margin: 10px 5%;
  }
  #text-description {
    width: 80%;
  }
}
