body {
  background-image: url(./img/weather.jpg);
  height: 100vh;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
#navcontent {
  height: 32px;
  background-color: rgba(0, 30, 230, 0.4);
  margin: 10px 50px;
  display: flex;
}

#navcontent {
  justify-content: center;
}

#data-container {
  height: 500px;
  margin: 2% 20%;
  background-color: rgba(0, 30, 230, 0.4);
}

#search-box {
  width: 70%;
}
